<section class="py-5">
    <h1 class="display-3">
        Thank you for your purchase!
    </h1>
    <p class="lead">Your shipping and tracking data will be sent to you within 2 business days</p>
    <a href="/" class="btn btn-dark btn-lg">Go back to store page</a>
</section>